.register {
	background-color: white;
	border-radius: 10px;
	width: 100%;
	max-width: 500px;
	margin: 10% auto;
	padding: 20px 30px;
}

.formHeader {
	display: flex;
}

.formTitle {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	color: black;
}

hr {
	border: 1px solid black;
}

.registerForm {
	display: flex;
	flex-direction: column;
}

label {
	color: black;
	margin-top: 20px;
}

input,
select {
	outline: none;
	border-radius: 5px;
	border: 1px solid rgb(192, 192, 192);
	height: 36px;
	font-size: 18px;
	padding: 0 10px;
	margin: 5px 0 10px;
}

.submitForm {
	background-color: white;
	border: 1px solid rgb(0, 90, 90);
	color: rgb(0, 90, 90);
	border-radius: 5px;
	outline: none;
	width: 100px;
	padding: 10px;
	margin: 10px auto;
	font-size: 16px;
	cursor: pointer;
}

.submitForm:hover {
	background-color: rgb(0, 90, 90);
	color: #e8ffdd;
	transition: all 0.3s ease;
}

@media (max-width: 460px) {
	.register {
		border: initial;
		border-radius: initial;
		width: 95%;
		max-width: initial;
		margin: 20px 0;
		padding: 0 10px;
	}
}
