.header {
	margin: 0 2.5rem;
	padding: 0.5rem 0;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.headerLeft,
.headerRight {
	display: flex;
	align-items: center;
}

.logoname {
	color: white;
}

a > span {
	margin: 0 30px;
	font-size: 1.3rem;
	cursor: pointer;
	color: white;
}

a > span:hover {
	color: red;
}

.header__icon {
	width: 80px;
	cursor: pointer;
}

.user__avatar {
	font-size: 2rem;
}

.profileIcon {
	color: white;
	font-size: 20px;
	margin: 9px 20px 0;
	cursor: pointer;
}
.profileIcon:hover {
	color: red;
}

/*  */

/* .searchArea{
    display: flex;
    flex-direction: column;
} */

.headerSearch {
	/* padding-left: 10px; */
}

/* .headerSearchBtn {
    padding-right: 10px;
} */

.headerSearchInput {
	/* width: 260px; */
	background-color: white;
	/* padding: 5px 10px; */
	border: none;
	outline: none;
	border-radius: 5px;
}

.headerButton {
	margin-left: 5px;
}

.searchedMoviesList {
	width: 255px;
	background-color: white;
	color: black;
	padding: 0;
	display: none;
	flex-direction: column;
	position: relative;
	top: 46px;
	right: 20px;
	position: absolute;
	margin-left: 10px;
	z-index: 1;
}

.searchedMoviesList:active {
	display: flex;
}

.searchedMoviesList:empty {
	box-shadow: none;
}

.headerSearchInput:focus {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.headerSearch:focus-within + .searchedMoviesList {
	display: flex;
}

.searchedMoviesListOuter {
	list-style-type: none;
	border-bottom: 1px solid black;
	margin: 2px 0 0;
}

.searchedMovies {
	/* display: flex; */
	/* align-items: center; */
	text-decoration: none;
	cursor: pointer;
}

.searchedMovieImg {
	width: 30px;
	padding: 5px;
	margin-right: 10px;
}

.searchedMovieName {
	color: black;
	font-size: 14px;
	margin: 5px;
}

@media (max-width: 992px) {
	.headerSearchInput {
		width: 218px;
	}
	.searchedMoviesList {
		top: 187px;
		left: 2px;
	}
}
